

.lobby{
    display: flex;
    height: 100vh;
    max-height: 1080px;
}


.lobby-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 70px;

    background-color: black;
    font-size: 28px;
}

.name{
    font-size: 50px;
    font-weight: 700;
    color: rgb(160, 100, 255);
}

.lobby-left img{
    width: 45px;
    transition: 0.5s;
}

.lobby-left img:hover{
    transform: scale(200%);
}

.lobby-prof{ 
    display: flex;
    gap: 60px;
}






.lobby-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-image: url(/imagens/principal.jpg);
    background-size: cover;
}

.lobby-right-nuvem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 14%, rgba(0,0,0,0.5) 80%);

}

.lobby-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.lobby-perfil img{
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(132, 38, 255, 0.911);
}

.lobby-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 5px;
    gap: 30px;

    background-color: rgba(240, 248, 255, 0.226);
    border-radius: 10px;
}



@media (max-width: 850px){

    .lobby-perfil img{
        width: 300px;

    }

}

@media (max-width: 800px){

    .lobby {
       flex-direction: column-reverse;
       
    }

    .lobby-right, .lobby-left{
        width: 100%;
        height: 50%;
    }

    .lobby-card{
        padding-top: 60px;
    }

    .lobby-perfil img{
        width: 250px;

    }

    
}

@media (max-height: 700px){

    .lobby{
        min-height: 600px
    }
    .lobby-left{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .lobby-card{
        padding-top: 60px;
        padding-bottom: 35px;
    }
}

@media (max-width: 400px){
    h1, .name{
        font-size: 35px;
    }
}