.perfil{
    display: flex;
    height: 100vh;
    width: 100%;
    max-height: 1080px;
    min-height: 900px
}


.perfil-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    background-image: url(/imagens/Perfil\ fundo.jpg);
    background-size: cover;
    background-position: top;
}

.perfil-left-nuvem{
    height: 100%;
    width: 100%;
    display: flex;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4962359943977591) 65%, rgba(0,0,0,1) 100%);

}


.perfil-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    background-color: black;
}

.perfil-right-card{
    display: flex;
    flex-direction: column;
    padding: 70px;
    padding-right: 7vw;
    gap: 15px;
}

.perfil-right-card h1{
    font-size: 40px;
}

.perfil-skill{
    display: flex;
}
.perfil-skill h3{
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0.274);
    border-radius: 8px;
    padding: 10px;
}

.perfil-right-card p{
    line-height: 24px;
    font-size: 17px;
    text-align: justify;
}

.btn-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    width: 75px;
    font-size: 18px;

    padding: 20px;
    padding-inline: 45px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 8px;

    transition: all 0.8s;
    margin-bottom: 50px;
}

.btn-curriculo:hover {
    
    box-shadow: 0px 0px 35px #b300ff94;
    border: 2px solid #b300ff94;
}


@media (max-width: 900px){

    .perfil{
        height: auto;
    }

    .perfil-left{
        width: 40%;
    }

    .perfil-right{
        width: 60%;
    }
    .perfil-right-card{
        padding: 15px;
        padding-right: 70px;

    }
}

@media (max-width: 850px){

    .perfil-left{
        width: 30%;
    }

    .perfil-right{
        width: 70%;
    }

}
@media (max-width: 750px){
    .perfil-left{
        width: 0%;
    }

    .perfil-right{
        width: 100%;
    }
    .perfil-right-card{
        margin-left: 30px;
    }
}

@media (max-width: 500px){

    .perfil-left{
        width: 0%;
    }

    .perfil-right-card{
        margin-left: 20px;
    }

    .perfil-right{
        width: 100%;
    }
}