.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(12,131,162);
    background: linear-gradient(45deg, rgba(12,131,162,1) 0%, rgba(75,30,105,1) 50%, rgba(136,32,180,1) 100%);
}

.projetos .titulo{
    font-size: 50px;
    margin: 50px;
}

.projetos .container{
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    margin: 50px;
    gap: 55px;

}

.projetos .card{
    width: 650px;
    height: 450px;
    position: relative;
    border-radius: 10px;

    box-shadow: 5px 5px 20px black;

}
.projetos .resumo{
    margin-top: 55px;
    width: 550px;
}

.projetos .card .info{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    bottom: 30px;
    right: 40px;
    
    z-index: 100;
}

.projetos-card img{
    width: 300px;
    top: 0px;
}

.projetos-card::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    width: 3px;
    display: none;
}

.projetos-card::-webkit-scrollbar-thumb{
    background-color: rgb(90, 14, 161);
    border-radius: 50px;
}





.bt-proj{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 170px;
    height: 35px;
    box-shadow: 2px 2px 7px black;
    backdrop-filter: blur( 13.5px );
    border-radius: 15px;
    transition: all 1s;
}

.bt-proj:hover{
    background-color: blueviolet;
    box-shadow: 1px 1px 15px black;
}


.container-proj{
    transition: 0.5s;
}



@media (max-width: 1500px){

    .projetos{
        flex-wrap: wrap;
        height: auto;
        gap: 50px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}