.skills{
    display: flex;
    background: black;
    color: white;
}

.skills-lateral-nuvem{
    display: flex;
    background-image: url(/imagens/principal.jpg);
    background-size: cover;
    width: 40%;
}
.skills-lateral{
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4962359943977591) 65%, rgba(0,0,0,1) 100%);
    width: 100%;
}

.skills-cont{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 5vw;
    gap: 55px;
}

.skills img{
    width: 150px;
    height: 176px;
}

.skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.text-skill{ 
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 10px;
}