@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    max-width: 1920px;
    margin: auto;

    background-color: rgba(0, 0, 0, 0.918);

    color: white;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

a{
    color: white;
}

::-webkit-scrollbar{
    background: black;
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background-color: #5a0ea1;
    border-radius: 50px;
}