@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    margin: auto;

    background-color:  #160C22;

    color: white;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

a{
    color: white;
}

::-webkit-scrollbar{
    background: #160C22;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #6C0DC6;
    border-radius: 50px;
}